name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-musl

      - name: Install just
        uses: taiki-e/install-action@just

      - name: Install musl-tools
        run: sudo apt-get update && sudo apt-get install -y musl-tools

      - name: Install rlsr
        run: |
          curl -sL https://github.com/iamd3vil/rlsr/releases/download/v0.8.2/rlsr-v0.8.2-linux-amd64.tar.gz | tar xz
          chmod +x rlsr
          sudo mv rlsr /usr/local/bin/

      - name: Release
        run: rlsr --config rlsr.yml --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
